{% load static %}


<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-top padding-y">
			<div class="row">
				<aside class="col-md-4">
					<article class="mr-3">
						<img src="{% static './media/resized-logo.png' %}"  class="logo-footer">
						<p class="mt-3">Discover the latest in fashion and accessories at Trend Voyage, your ultimate destination for trends that travel straight to your doorstep.</p>
						<div>
						    <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
						    <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#"><i class="fab fa-instagram"></i></a>
						    <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#"><i class="fab fa-youtube"></i></a>
						    <a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#"><i class="fab fa-twitter"></i></a>
						</div>
					</article>
				</aside>
				<aside class="col-sm-4 col-md-3">
					<h6 class="title">About</h6>
					<ul class="list-unstyled">
						<li> <a href="{% url 'about_us' %}">About us</a></li>
						<li> <a href="{% url 'services' %}">Services</a></li>
						<li> <a href="{% url 'rules' %}">Rules and terms</a></li>
						<li> <a href="{% url 'contact_us' %}">Contact Us</a></li>
					</ul>
				</aside>
				<aside class="col-sm-4 col-md-3">
					<h6 class="title">Services</h6>
					<ul class="list-unstyled">
						<li> <a href="#">Help center</a></li>
						<li> <a href="#">Money refund</a></li>
						<li> <a href="#">Terms and Policy</a></li>
						<li> <a href="#">Open dispute</a></li>
					</ul>
				</aside>
				<aside class="col-sm-2  col-md-2">
					<h6 class="title">Our app</h6>
					<a href="#" class="d-block mb-2"><img src="{% static './images/misc/appstore.png' %}" height="40"></a>
					<a href="#"  class="d-block mb-2"><img src="{% static './images/misc/playmarket.png' %}" height="40"></a>
				</aside>
			</div> <!-- row.// -->
		</section>	<!-- footer-top.// -->

		<section class="footer-copyright border-top">
				<p target="_blank" class="float-right text-muted">
					<a href="#">Privacy & Cookies</a> &nbsp   &nbsp 
					<a href="#">Accessibility</a>
				</p>
				<p class="text-muted"> &copy 2024 Company  All rights resetved </p>
				
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
	$(document).ready(function() {
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr('href'));
		})
	})
</script>