{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card-banner overlay-gradient" style="min-height:230px; background-image: url('{% static './images/banners/about_us.jpg' %}');">
    <div class="card-img-overlay white" style="margin-left: 70px;">
      <h3 class="card-title">Rules and Terms</h3>
      <p class="card-text" style="max-width: 400px">To connect people with the latest fashion trends from around the globe and empower everyone to express their unique style.</p>
      <a href="" class="btn btn-warning">Learn more</a>
    </div>
</div>



    <!-- ========================= SECTION  END// ========================= -->


{% endblock %}