{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card-banner overlay-gradient" style="min-height:230px; background-image: url('{% static './images/banners/about_us.jpg' %}');">
    <div class="card-img-overlay white" style="margin-left: 70px;">
      <h3 class="card-title">Services</h3>
      <p class="card-text" style="max-width: 600px">Not sure what to wear? Our expert stylists are here to help you look your best! Whether it's a special occasion or a wardrobe overhaul, we 
        offer personalized styling consultations to help you choose the perfect outfits based on your preferences and lifestyle.</p>
      <a href="" class="btn btn-warning">Learn more</a>
    </div>
</div>

<section class="section-name padding-y-sm">
    <div class="container">
        <header class="section-heading">
            <h3 class="section-title">Our Services</h3>
            <p>
                At Trend Voyage, we go beyond just selling clothes. We provide unique services designed to enhance your shopping experience and ensure you always step out in style.
                Every body is unique, and so should be your clothes. Our custom tailoring service ensures your garments fit you perfectly. Simply select the tailoring option when you purchase and our experts will tailor your new outfit to your exact measurements.
            </p>
        </header><!-- sect-heading -->
    </div><!-- container // -->
</section>

<section class="section-name padding-y-sm">
    <div class="container">
        <div class="service-row">
            <div class="service-column">
                <div class="service-card">
                    <div class="service-icon-wrapper">
                        <i class="fa fa-money"></i>
                    </div>
                    <h3>Reasonable Prices</h3>
                    <p>
                        Discover budget-friendly options without compromising on style. Because looking good shouldn't cost a fortune.
                    </p>
                </div>
            </div>
            <div class="service-column">
                <div class="service-card">
                    <div class="service-icon-wrapper">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <h3>Quick delivery</h3>
                    <p>
                        Offer expedited shipping options for speedy delivery of orders.
                    </p>
                </div>
            </div>
            <div class="service-column">
                <div class="service-card">
                    <div class="service-icon-wrapper">
                        <i class="fas fa-clock-o"></i>
                    </div>
                    <h3>24/7 Availability</h3>
                    <p>
                        Ensure round-the-clock availability of your online store.
                    </p>
                </div>
            </div>
        </div>
        <div class="service-row">
            <div class="service-column">
                <div class="service-card">
                    <div class="service-icon-wrapper">
                        <i class="fas fa-address-book"></i>
                    </div>
                    <h3>Dedicated Customer Support</h3>
                    <p>
                        Offer dedicated customer support through various channels such as email, live chat, or phone
                    </p>
                </div>
            </div>
            <div class="service-column">
                <div class="service-card">
                    <div class="service-icon-wrapper">
                        <i class="fas fa-broom"></i>
                    </div>
                    <h3>Easy Returns</h3>
                    <p>
                        Implement a hassle-free return policy.
                    </p>
                </div>
            </div>
            <div class="service-column">
                <div class="service-card">
                    <div class="service-icon-wrapper">
                        <i class="fas fa-plug"></i>
                    </div>
                    <h3>Service Heading</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam consequatur necessitatibus eaque.
                    </p>
                </div>
            </div>
        </div>
    </div><!-- container // -->
</section>


    <!-- ========================= SECTION  END// ========================= -->


{% endblock %}